*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
html, body{
    height : 100%;
    width : 100%;
    font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(
    135deg,
    #f9fbff,
    #fde2f3,
    #e0f2fe
  );
}
:root{
   --bg-color: #0b132b;          /* midnight blue */
  --bg-button-color: #1c2541;   /* dark sky */
  --bg-task-color: #2b3a67;     /* blue card */
  --primary-text-color: #eaeaf0;
  --delete-color: #ff9aa2;      /* soft coral pink */

    /*padding*/
    --nav-padding: 15px 30px;
    --section-padding:15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl : 30px;

    /*border-radius variables*/
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 25px;

}
body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}
main{
    height : 100%;
    display : flex;
    flex-direction : column;
}
nav{
padding : var(--nav-padding);
display :flex;
align-items: center;
justify-content: space-between;
position:sticky;
top : 0;
background-color: var(--bg-color);
}
nav button{
  background-color : var(--bg-button-color);
  border:none;
  outline: none;
  color : var(--primary-text-color);
  padding : var(--padding-m) var(--padding-l);
  cursor:pointer;
  border-radius: var(--border-radius-m  );
  transition: all 0.3s ease;
}

nav button:hover{
    background-color: var(--primary-text-color);
    color : var(--bg-color);
    transform: translateY(-2px);
}

section{
    padding : var(--section-padding);
    display:flex;
    flex-grow: 1;
    justify-content: space-between;
    gap : var(--padding-xxl)
}
section .task-column{
    background-color: var(--bg-button-color);
    flex-grow: 1;
    flex-shrink: 0;
    width: 300px;
    padding : var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    border-radius: var(--border-radius-m);
    transition : all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
section .task-column.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale:1.05;

}
section .task-column .heading{
    width: 100%;
    display : flex;
    align-items: center;
    justify-content: space-between; 
} 
section .task-column .task {
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    cursor: grab;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    
}

section .task-column .task button{
    align-self : flex-end;
    cursor:pointer;
    padding : var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-m);
    background-color: var(--delete-color);
    color : var(--primary-text-color);
    border:none;
    outline:none
}
.modal{
    position: fixed;
    height: 100vh;
    width: 100vw ;
    top: 0;
    left: 0;
    display: none;
   align-items: center;
   justify-content: center;
}
.modal.active{
    display: flex;
}
.modal .bg{
    position: absolute;
    height: 100%;
    width: 100% ;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}
.modal .center{
    background-color : var(--bg-button-color);
    padding : var(--padding-xxl);
    border-radius: var(--border-radius-m);
    display:flex;
    flex-direction: column;
    gap:var(--padding-m);
    z-index: 10;
}
.modal .center input, .modal .center textarea{
    background-color: var(--bg-task-color);
    border:none;
    outline:none;
    color : var(--primary-text-color);
    padding : var(--padding-m);
    border-radius: var(--border-radius-m);
    resize: none;
    font-family : inherit;
}
.modal .center button{
    background-color : var(--bg-color);
    border:var(--border-radius-m);
    color : var(--primary-text-color);
    padding : var(--padding-m) var(--padding-l);
    cursor:pointer;
    border-radius: var(--border-radius-m  );
    width: auto;
 
}