* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* ---------- THEME ---------- */
:root {
  --bg-color: #0b132b;
  --bg-button-color: #1c2541;
  --bg-task-color: #2b3a67;
  --primary-text-color: #eaeaf0;
  --delete-color: #ff9aa2;

  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --p-s: 5px;
  --p-m: 10px;
  --p-l: 15px;
  --p-xl: 20px;
  --p-xxl: 30px;

  --radius: 10px;
}

/* ---------- BASE ---------- */
body {
  background: var(--bg-color);
  color: var(--primary-text-color);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ---------- NAV ---------- */
nav {
  padding: var(--nav-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--bg-color);
}

button {
  background: var(--bg-button-color);
  color: var(--primary-text-color);
  padding: var(--p-m) var(--p-l);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--primary-text-color);
  color: var(--bg-color);
  transform: translateY(-2px);
}

/* ---------- BOARD ---------- */
section {
  padding: var(--section-padding);
  display: flex;
  gap: var(--p-xxl);
  flex-grow: 1;
}

.task-column {
  background: var(--bg-button-color);
  width: 300px;
  padding: var(--p-m);
  display: flex;
  flex:1;
  flex-direction: column;
  gap: var(--p-m);
  border-radius: var(--radius);
  transition: 0.4s;
}

.task-column.hover-over {
  border: 2px dashed var(--primary-text-color);
  scale: 1.05;
}

.task-column .heading {
  display: flex;
  justify-content: space-between;
}

/* ---------- TASK ---------- */
.task {
  background: var(--bg-task-color);
  padding: var(--p-m);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--p-m);
  cursor: grab;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.task button {
  align-self: flex-end;
  background: var(--delete-color);
}

/* ---------- MODAL ---------- */
.modal {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal .bg {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal .center {
  background: var(--bg-button-color);
  padding: var(--p-xxl);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--p-m);
  z-index: 10;
}

.modal input,
.modal textarea {
  background: var(--bg-task-color);
  color: var(--primary-text-color);
  padding: var(--p-m);
  border: none;
  border-radius: var(--radius);
  resize: none;
  font-family: inherit;
}
